#header {
  background: #ffffff;
  height: 151px;

  a#logo {
    display: block;
    height: 86px;
    padding: 15px 0 0 20px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  > ul {
    background: #4b4b4b;
    height: 49px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 900px;

    > li {
      float: left;
      position: relative;
      width: 150px;

      a {
        color: #f0f2c9;
        display: block;
        letter-spacing: 0.1em;
        line-height: 49px;
        text-align: center;
        text-decoration: none;
      }
    }

    > li.current {
      > a,
      > a:hover {
        background: $extra-light;
        color: $main-color;
      }
    }
  }

  ul {
    li {
      ul {
        list-style: none;
        left: -99999px;
        margin: 0;
        overflow: visible;
        padding: 11px 0 0;
        position: absolute;
        top: 49px;
        width: 150px;
        z-index: 2;

        li.current {
          a,
          a:hover {
            background: $extra-light;
            color: $main-color;
          }
        }

        li {
          background: #4b4b4b;

          a {
            color: #f0f2c9;
            display: block;
            line-height: 31px;
            text-align: center;
            text-decoration: none;
          }

          a:hover {
            background: #daead0;
            color: #1b330c;
          }
        }
      }
    }

    li:hover {
      ul {
        left: 0;
        top: 49px;
      }
    }
  }
}
